@page
@model AIROPORT.Pages.Crews.CreateModel

@{
    ViewData["Title"] = "Добавить экипаж";
}

<h1>Добавить</h1>

<h4>экипаж:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Crews.HourceFlown" class="control-label"></label>
                <input asp-for="Crews.HourceFlown" class="form-control" />
                <span asp-validation-for="Crews.HourceFlown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crews.CodeStaf1ID" class="control-label"></label>
                <input asp-for="Crews.CodeStaf1ID" class="form-control" />
                <span asp-validation-for="Crews.CodeStaf1ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crews.CodeStaf2ID" class="control-label"></label>
                <input asp-for="Crews.CodeStaf2ID" class="form-control" />
                <span asp-validation-for="Crews.CodeStaf2ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crews.CodeStaf3ID" class="control-label"></label>
                <input asp-for="Crews.CodeStaf3ID" class="form-control" />
                <span asp-validation-for="Crews.CodeStaf3ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
